<ion-view view-title="Features">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="feature in features" type="item-text-wrap" href="#/tab/features/{{feature.id}}">
        <!--<img ng-src="{{feature.img}}">-->
        <h2>{{feature.name}}</h2>
        <p>{{feature.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(feature)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
	
  </ion-content>
</ion-view>

